.band {
  margin: auto;
  padding: 20px;
}

.element {
  padding: 20px 0 20px 0;
}

.band h1 {
  font-size: 150%;
  font-weight: bold;
}

.band h2 {
  font-size: 130%;
}

.body {
  composes: element;
}

.members {
  font-style: italic;
  font-size: 95%;
  composes: element;
}

.member {
  margin: 10px 10px 10px 0;
}

ul {
  list-style-type: circle;
}


.body img {
  width: 100%;
  height: auto;
}
